.main-container {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 20px;
  padding: 20px;
}
.main-container h1 {
  background-color: yellow;
  padding: 20px;
  border-radius: 10px;
}
